z-next
node_modules/
dist/

.playwright-cli/*

/docs/work2/phase-2/init/

/docs-internal/
**/docs-internal/**

output/playwright/phase-2/playwright-cli/page-*
output/quality/lighthouse-round*.json
output/**

/.agent/

